@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  width: 1440px;
  margin-left: 240px;
  margin-right: 240px;
}

.container-row-nav {
  background-image: url(./images/bg-hero-desktop.svg);
  height: 600px;
  width: 1440;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 40px 80px 0px 80px;
}

button {
  color: hsl(208, 11%, 55%);
  background-color: #fff;
  border: 0.2px solid;
  border-color: rgb(240, 240, 240);
  border-radius: 50px;
  padding: 15px 40px 15px 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  box-shadow: 0 3px 8px -2px rgb(223, 223, 223);
}

.hero-button {
  color: hsl(0, 0%, 99%);
  background-color: hsl(322, 100%, 66%);
  border: none;
  border-color: #fff;
  border-radius: 25px;
  padding: 15px 35px 15px 35px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400px;
  box-shadow: 0 8px 6px -7px rgb(179, 179, 179);
  margin-top: 15px;
}

.hero-body {
  width: 1440;
  margin-top: 120px;
  margin-left: 80px;
}
.hero-body p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  color: hsl(208, 11%, 55%);
}
.hero-body h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600px;
  font-size: 36px;
  color: hsl(192, 100%, 9%);
}

.hero-mockup {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 900px;
  top: 150px;
  height: 500px;
}

.container2 {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 1350px;
  height: 500px;
  border: 2px solid rgb(241, 241, 241);
  margin-top: 100px;
  margin-left: 45px;
  margin-right: 45px;
  border-radius: 10px;
  padding: 40px 25px 25px 25px;
}
.container3 {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 1350px;
  height: 500px;
  border: 2px solid rgb(241, 241, 241);
  margin-top: 60px;
  margin-left: 45px;
  margin-right: 45px;
  border-radius: 10px;
  padding: 40px 25px 25px 25px;
}
.container4 {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 1350px;
  height: 500px;
  border: 2px solid rgb(241, 241, 241);
  margin-top: 60px;
  margin-left: 45px;
  margin-right: 45px;
  border-radius: 10px;
  padding: 40px 25px 25px 25px;
}

.section-content {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700px;
  color: hsl(192, 100%, 9%);
  padding: 80px 60px;
}
.section-content p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
  color: hsl(208, 11%, 55%);
}

.section-content img {
  margin-top: 30px;
}
footer {
  display: flex;
  box-sizing: border-box;
  width: 1440px;
  height: 500px;
  background-color: hsl(192, 100%, 9%);
  margin-top: 60px;
  padding: 150px 100px 150px 100px;
}

.foot-sec1 {
  width: 434px;
  margin-left: 50px;
}
.foot-para {
  display: flex;
  width: 434px;
}
.foot-para img {
  margin-top: 20px;
  margin-right: 15px;
}
.foot-logo {
  margin-left: 50px;
}
footer p {
  color: hsl(193, 100%, 96%);
  opacity: 70%;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 200px;
  padding: 3px;
}
.foot-sec2 {
  width: 186px;
  margin-top: 20px;
  margin-left: 50px;
  transition: 0.4s;
  cursor: pointer;
}
.footer .foot-sec2 a .foot-sec2-para:hover {
  text-decoration: underline;
}

.foot-sec3 {
  width: 186px;
  margin-top: 20px;
  margin-left: 50px;
  transition: 0.4s;
  cursor: pointer;
}

.foot-sec4 {
  width: 434px;
  margin-top: 20px;
  padding-left: 100px;
}
.foot-sec2 a {
  text-decoration: none;
  text-underline-offset: 0;
}
.foot-sec3 a {
  text-decoration: none;
  text-underline-offset: 0;
}
